

.cart-empty p, .cart-container p{
    text-align: center;
}

.go-to-pay-box {
    position: fixed;
    bottom: 0em;
    width: 100vw;
    background-color: var(--red);
    padding-top: 2em;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}


.btn-pay{
    padding: 0.7em 1.8em;
    background: var(--black);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
}

.btn-pay:hover{
    transform: scale(1.05);
}


/*ticket*/

.ticket-types-cart{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em 0em;
    padding-bottom: 10em;
    scrollbar-width: none;
    
}


.ticket-cart{
    background-color: var(--white);
    padding: 1em 2em;
    border-radius: 0.5em;
    border: 0.1em solid var(--black);
    display: grid;
    grid-template-areas: 
    "image head-title head-title  close-select"
    "image title title title"
    "image price price price"
    "image detail detail detail"
    "button button button button";
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1em;
}


.ticket-cart .image-cart{
    grid-area: image;
    background: 
    linear-gradient(rgba(51, 51, 51, 0.2), rgba(51, 51, 51, 0.2)), 
    url('../../asset/bali background.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 15em;
    min-height: 15em ;
}

.ticket-cart .head-title-cart{
    grid-area: head-title;
}

.ticket-cart .title-cart{
    grid-area: title;
}

.ticket-cart .detail-cart{
    grid-area: detail;
    width: 90%;
    
}

.ticket-cart .price-cart{
    grid-area: price;
    display: flex;
    justify-items: flex-end;
    padding: 1em 0em;
    flex-direction: column;
}

.ticket-cart .close-select-cart{
    grid-area: close-select;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: center;
    max-height: 1.5em;
    gap: 1em;
}



.ticket-price{
    background-color: var(--red);
    padding: 1em;
    width: 100%;
    border-radius: 0.2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.ticket-price-button{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}


.ticket-price .price-text{
    display: flex;
}

.ticket-cart .btn-item-cart{
    grid-area: button;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1em;

} 

.ticket-cart .btn-item-cart .btn-add, .ticket-cart .btn-item-cart .btn-subtract {
    background-color: var(--red);
    border: none;
    padding: 0.1em 0.5em;
    border-radius: 100%;
}

@media only screen and (min-width: 1600px) {
}

@media only screen and (max-width: 1599px) and (min-width: 1400px) {
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
}

@media only screen and (max-width: 1199px) {

    .ticket{
        grid-template-areas: 
        "head-title head-title close-select"
        "image price price"
        "image title title"
        "image detail detail "
        "button button button";
    }

    .ticket .image{
        min-width: 10em;
        min-height: 10em ;
    }

}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 540px) {

    .ticket{
        grid-template-areas: 
        "head-title close-select"
        "image image "
        "price price"
        "title title"
        "detail button";
      
    }




}
