/*Hero Section*/
.hero {
    min-height: 100vh;
    background: 
    linear-gradient(rgba(51, 51, 51, 0.2), rgba(51, 51, 51, 0.2)), 
    url('../../asset/bali background.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    animation: moveZoomBackground 20s infinite alternate ease-in-out;
    padding-top: 5em ;
}



.hero .search-box{
    padding-top: 1em;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    gap: 1em;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-items: center ;
    
}


.search-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 0.2fr;
    background-color: var(--white);
    border: 0.1em solid transparent;
    border-radius: 2em;

}

.search-box input {
    padding: 0.7em;
    padding-left: 1em;
    width: 90%;
    border: none;
    border-radius: 2em;
    outline: none;
}

.date-picker-container{
    width: 100%;
    height: 100%;
    border-radius: 2em;
    padding-left: 2em;
    padding-right: 1em;
    position: relative;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    gap: 2em;
}

.date-picker{
    border: 1em  solid var(--black);
    opacity:0;
    z-index: 500;
    position: absolute;
    top: 50;
    left: 0;
    background-color: transparent;
    
}

.calendar-icon{
    z-index: 300;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: transparent;
}

.btn-search{
    padding: 0.7em 1.8em;
    background: var(--red);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
}

.btn-search:hover {
    transform: scale(1.05);
    
}





/* Explore Festival + Atraction Section */

.explore-text{
    padding: 4em 0em;
    color: var(--black);
    text-align: left;
}

.explore-content{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 5em;
}

.explore-text h2 {
    margin-bottom: 0.5em;
}

.explore-text a{
    text-decoration: underline;
}

.explore-addition{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.lihat-lanjut{
    margin-top: 2em;
    padding: 0.5em 1.8em;
    border: 0.1em solid var(--red) ;
    cursor: pointer;
    border-radius: 0.2em;
    width: 20%;
    transition: transform 0.3s ease-in-out;
    
}
/* Ketika hover */

.lihat-lanjut:hover{
    transform: scale(1.02,1.02);
    
}

.lihat-lanjut p{
    color: var(--red) !important;
    text-align: center;
}

.need-to-login-button{
    margin-top: 2em;
    padding: 0.5em 1.8em;
    color: var(--red);
    border: 0.1em solid var(--red) ;
    cursor: pointer;
    border-radius: 0.2em;
    width: 50%;
}

.need-to-login-button p{
    text-align: center;
    text-align: center;
}



/*Culture Section */

.culture-section{
    padding-top: 5em;
}

.culture-grid {
    width: 100%;
    opacity: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    overflow: hidden;
}

.culture-card {
    background-color: var(--cream);
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    position: relative;
    padding: 0.5em;
    box-shadow: none;
}


.culture-card img {
    height:100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
    border-radius: 0.2em;
}

.label {
    position: absolute;
    top: 0.8em;
    left:0.8em;
    background: var(--red);
    color: var(--white);
    padding: 0.3em 0.3em;
    border-radius: 0.2em;
}

.info {
    position: absolute;
    top: 3.2em;
    left: 0.8em;
    background: rgba(0, 0, 0, 0.7);
    color: var(--white);
    padding: 0.3em 0.3em;
    border-radius: 0.2em;
}


.culture-card img:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}


/*Wawasan Nusantara (Point)*/
.points-section {
    padding-top: 10em;
}

.points-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
    border-radius: 0.2em;
}

/*Advertisment Section*/
.advertisment-section-img {
    overflow-y: hidden;
    overflow-x: hidden;
  
}

.advertisment {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: filter 0.8s ease-in-out, transform 0.5s ease-in-out;
    transform-origin: bottom;
    border-radius: 0.2em;
    cursor: pointer;

}

.advertisment:hover {
    /* filter: brightness(0.95); */
    transform: scale(1.02, 1.02); 
}


/* FAQS Section */
.faq-section {
    padding-top: 10em;
    padding-bottom: 10em ;
}

.faq-section h2{
    padding-bottom: 2em;
}

.faq-container {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    gap: 2em;
    align-items: start;
    
}

.faq-categories ul {
    opacity: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.faq-categories li {
    color: var(--grey);
    padding: 1rem 0;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
}

.faq-categories li.active {
    color: var(--red);
}


.faq-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.faq-item {
    border-bottom: 0.1em solid var(--grey);
    padding: 1.5em 2em;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-answer {
    display: none;
    padding-top: 0.5em;
    width: 80%;
    color: var(--grey);
}

.faq-toggle {
    transition: transform 0.3s ease;
    margin-left: 2em;
}

.faq-item.active .faq-toggle {
    transform: rotate(180deg);  

}

.faq-group {
    display: none;
}

.faq-group.active {
    display: block;
}


.close-location{
    cursor: pointer;
}

@media only screen and (min-width: 1600px) {
    
}

@media only screen and (max-width: 1599px) and (min-width: 1400px) {
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
}

@media only screen and (max-width: 1199px) {
    


    .header-date-picker-container{
        padding: 0em 0.5em;
    }

    .hero{
        min-height: 80vh;
    }
    

}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 540px) {
    .culture-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

