/*Hero Section*/
.hero-mitra {
    min-height: 100vh;
    background: 
    linear-gradient(rgba(51, 51, 51, 0.2), rgba(51, 51, 51, 0.2)), 
    url('../../asset/bali background.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    animation: moveZoomBackground 20s infinite alternate ease-in-out;
    padding-top: 5em ;
    position: relative;
}




.hero-mitra .back-btn{
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 0;
    top: 5em;
    position: absolute;
    border: none;

}

.partnership{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: justify;
}

.achievement {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    gap: 1em;
    overflow: hidden;
}

.achievement img {
    height:100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
    border-radius: 0.2em;
}


