.header{
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    
}

.back-btn{
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 0;
    padding-bottom: 2em;
    position: relative;
    border: none;

}

.back-btn i{
    margin: 0;
    padding: 0;
    position: absolute;
    left: -0.3em;
    top:  0em;

}

#fyp-atraction{
    padding-bottom: 5em;
}


.explore-addition{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.lihat-lanjut{
    margin-top: 2em;
    padding: 0.5em 1.8em;
    color: var(--red);
    border: 0.1em solid var(--red) ;
    cursor: pointer;
    border-radius: 0.2em;
    width: 20%;
}

.lihat-lanjut p{
    text-align: center;
    text-align: center;
}


.result-section{
    padding-top: 1em;
    padding-bottom: 5em;
}

.result-grid {
    width: 100%;
    opacity: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 23%));
    justify-content: start;
    align-items: center;
    gap:2em;
    
}

.result-addition, .recomendation-addition {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5em;
}




@media only screen and (min-width: 1600px) {
    
}

@media only screen and (max-width: 1599px) and (min-width: 1400px) {
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
    .result-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 30%));
    }
}

@media only screen and (max-width: 1199px) {
    
    .result-grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 47%));
    }


    
    

}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 540px) {
    .result-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 50%));
    }
}

