/*Carousel*/
.content {
    display: flex;
    justify-content: flex-end;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    color: var(--black);
}

/*Cards*/
.cards-atraksi, .cards-festival {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    border-radius: 0em;
    width: 100%; 
    margin: auto;
    overflow: hidden; 
    flex-wrap: nowrap; 
    padding: 1em 0em;

}


/*Card*/
.card{
    background: var(--white);
    border-radius: 0.2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 16.8em;
    overflow: hidden;
    gap: 0.5em;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translateY(-0.2em);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
    
}

.card:hover img {
    transform: scale(1.1, 1.1); 
}

.card h3, .card p, .card .price{
    padding: 0em 0.5em;
    flex-grow: 0.5;
    color: var(--black);
}

.card h3 {
    flex-grow: 1;
}
.card .price{
    color: var(--red);
}

.carousel{
    position: relative;
}
.prev-btn{
    position: absolute;
    left: 2%;
    top: 40%;
    z-index: 500;
    background-color: var(--red);
    border: none;
    padding: 1.5em 1.8em;
    border-radius: 100%;
    box-shadow: 0em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-out;
}

.next-btn {
    position: absolute;
    right: 2%;
    top: 40%;
    z-index: 500;
    background-color: var(--red);
    border: none;
    padding: 1.5em 1.8em;
    border-radius: 100%;
    box-shadow: 0em 0.2em 0.5em rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-out;
}

.next-btn:hover, .prev-btn:hover{
    background-color: rgba(0, 0, 0, 0.7);
    
}

@media only screen and (min-width: 1600px) {
}

@media only screen and (max-width: 1599px) and (min-width: 1400px) {
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
}

@media only screen and (max-width: 1199px) {
    .card{
        min-width: 15em;
    }

    .next-btn, .prev-btn{
        padding: 1.1em 1.4em;
    }
    
}

@media only screen and (max-width: 767px) {
    .next-btn, .prev-btn{
        padding: 1em 1.3em;
    }
}

@media only screen and (max-width: 540px) {
    .next-btn, .prev-btn{
        padding: 0.9em 1.2em;
    }

}
