/*Header Section*/
header{
    background-color: var(--black);
}

.container2{
    border:none ;
}

/*Back Button*/

.detailAtraction{
    display: grid;
    grid-template-columns: 7% 93%;
    justify-items: flex-start;
    margin-top: 10em;
    align-items: center;
    align-content: center;
}


.back-btn{
    background: none;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
}


.back-btn i{
    position: absolute;
    top: -0.6em;
    left: -0.3em;
} 

.ticket-types-id{
    display: none;
}
/*Hero Section*/

.container{
    margin-top: 0em;
    margin-bottom: 5em;

}

.container .description, .container .ulasan, .container .search-ticket, .ticket-types, .container .detail, .container .title{
    padding: 0.5em 0em;
}

.container .description{
    grid-area: description;
}

.container .ulasan{
    grid-area: ulasan;
}

.container .ticket-container{
    grid-area: ticket;
}



.container .ulasan-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(20em,1fr));
    gap: 1em;
}


.ulasan .ulasan-content{
    background-color: var(--white);
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    
}



.container{
    display: grid;
    grid-template-areas: 
    'detail detail detail ticket-button'
    'image image image image'
    'description description description description'
    'ulasan ulasan ulasan ulasan'
    'ticket ticket ticket ticket';
    gap: 2em;
}

.container .schedule, .container .address{
    display: flex;
    gap: 1em;
}

.container .detail {
     grid-area: detail;
}



.image-destination{
    grid-area: image;
    display: grid; 
    gap: 1em;
    grid-template-areas: 
    'image1 image1 image2'
    'image1 image1 image3';
    justify-items: space-between;
    align-content: space-between;
    justify-content: space-between;
    max-height: 30em;
    overflow: hidden;
}

.image1{
    grid-area: image1;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.image2{
    grid-area: image2;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}


.image3{
    grid-area: image3;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;

}




.ticket-button{
    grid-area: ticket-button;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
    border-radius: 0.5em;
    animation : blink 1s ease-in-out infinite;
}

.btn-cari-ticket{
    padding: 0.7em 1.8em;
    background: var(--red);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
}



.hero-detail {
    min-height: 80vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: left;
    padding-top: 5em ;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    gap: 2em;

}

/*Search Box*/
.ticket-container .search-ticket .search-box{
    background-color: var(--black);
    padding: 1em;
    width: 100%;
    border-radius: 0.2em;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    gap: 1em;
    justify-items: center;
    align-items: center;
}

.ticket-container .search-ticket .date-picker-container{
    width: 100%;
    border-radius: 2em;
    padding: 0.7em 1em;
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.1fr;
    justify-content: space-between;
    justify-items: start;
    background-color: var(--white);
    position: relative;
}

.ticket-container .ticket-date-picker{
    opacity: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: -1em;
    right: -1em;
    z-index: 500;
}

.ticket-container .ticket-calender-icon{
    position: absolute;
    top: 0em;
    right: 0em;
}

.ticket-container .search-ticket .btn-search{
    padding: 0.7em 1.8em;
    background: var(--red);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
}

.search-ticket .btn-search:hover {
    transform: scale(1.05);
    
}

.ticket-this-day-date{
    color: var(--white);
}


/*Ticket*/
.ticket-types{
    padding: 3em 0em;
    display: none;
    flex-direction: column;
    gap: 1em;
}

.ticket{
    background-color: var(--white);
    padding: 1em 2em;
    border-radius: 0.5em;
    border: 0.1em solid var(--black);
    display: grid;
    grid-template-areas: 
    "title title price"
    "detail detail price"
    "button button button";
    justify-items: start;
    justify-content: space-between;
}




.ticket .title{
    grid-area: title;
}

.ticket .detail{
    grid-area: detail;
    width: 90%;
    
}

.ticket .price{
    grid-area: price;
    display: flex;
    justify-items: flex-end;
    padding: 1em 0em;
    flex-direction: column;
}

.ticket-price{
    background-color: var(--red);
    padding: 1em;
    width: 100%;
    border-radius: 0.2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.ticket-price-button{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}


.ticket-price .price-text{
    display: flex;
}

.btn-keranjang{
    padding: 0.7em 1.8em;
    background: var(--white);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
}

.btn-keranjang:hover, .btn-pesan:hover {
    transform: scale(1.05);

}

.btn-pesan{
    padding: 0.7em 1.8em;
    background: var(--black);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2em;
    transition: all 0.3s ease-in-out;
}

.ticket .btn-item{
    grid-area: button;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1em;

}

.ticket .btn-item .btn-add, .ticket .btn-item .btn-subtract {
    background-color: var(--red);
    border: none;
    padding: 0.1em 0.5em;
    border-radius: 100%;
}



/*Rekomendas item serupa*/
#fyp-atraction{
    padding-bottom: 5em;
    padding-top: 5em;
}

.recomendation-addition {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5em;
}

.explore-addition{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.lihat-lanjut{
    margin-top: 2em;
    padding: 0.5em 1.8em;
    color: var(--red);
    border: 0.1em solid var(--red) ;
    cursor: pointer;
    border-radius: 0.2em;
    width: 20%;
}

.lihat-lanjut p{
    text-align: center;
    text-align: center;
}




@media only screen and (min-width: 1600px) {
    
}

@media only screen and (max-width: 1599px) and (min-width: 1400px) {
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
}

@media only screen and (max-width: 1199px) {
    


    .search-ticket .header-date-picker-container{
        padding: 0em 3em;
    }


    

}

@media only screen and (max-width: 767px) {
    .container{
        grid-template-areas: 
        'detail detail detail detail'
        'image image image image'
        'description description description description'
        'ulasan ulasan ulasan ulasan'
        'ticket ticket ticket ticket';
    }

    .ticket-button{
        display: none;
    }

    .image2{
        height: 95%;
    }
    .image3{
        height: 95%;
    }

    .detailAtraction button{
     position: relative;
    }

    .detailAtraction button i{
        position: absolute;
        top: 25%;
    }


}

@media only screen and (max-width: 540px) {
    .detailAtraction button{
     position: relative;
    }

    .detailAtraction button i{
        position: absolute;
        top: 30%;
    }
}

